@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --special: #fce6a4;
}

/* PROJECTS SECTION */

/* Generic Bento item */
#bentoItem {
  background: #174933;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* Added background to fill container space. */

/* Style of the bentoItem 1 */
#bentoItem[data-index="1"] {
  background: #1a1a1a;
}
/* Style of the bentoItem 5 */
#bentoItem[data-index="5"] {
  background: #1a1a1a;
}

/* Style of the bentoItem 7 */
#bentoItem[data-index="7"] {
  padding-bottom: 5%;
}

/* SKILLS SECTION */

/* HEXAGON */

#triangleUp {
  width: 0;
  background-color: transparent;
  border-bottom: 3vw solid red;
  border-left: 5.2vw solid transparent;
  border-right: 5.2vw solid transparent;
}

#triangleDown {
  width: 0;
  background-color: transparent;
  border-top: 3vw solid red;
  border-left: 5.2vw solid transparent;
  border-right: 5.2vw solid transparent;
}

#square {
  width: 10.4vw;
  height: 6vw;
  background-color: red;
}
/* RESPONSIVE */

@media screen and (min-width: 1540px) {
  #bentoItem[data-index="5"]::after {
    font-size: 2rem;
  }
  #bentoItem[data-index="1"]::after {
    font-size: 2rem;
  }
}

/* TEMPORARY */

#yellowLight {
  height: 40rem;
  width: 75%;
  background: linear-gradient(to bottom, rgba(255, 197, 61, 0.364) 0%, rgba(255, 197, 61, 0) 25%);
  filter: blur(50px);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

#yellowLightDiag {
  background: #1a1a1a;
}
