@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --special: #fce6a4;
}

/* PROJECTS SECTION */

/* Generic Bento item */
#bentoItem {
  background: #174933;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* Added background to fill container space. */

/* Style of the bentoItem 1 */
#bentoItem[data-index="1"] {
  background: #1a1a1a;
}
/* Style of the bentoItem 5 */
#bentoItem[data-index="5"] {
  background: #1a1a1a;
}

/* Style of the bentoItem 7 */
#bentoItem[data-index="7"] {
  padding-bottom: 5%;
}

#yellowLight {
  height: 40rem;
  width: 75%;
  background: linear-gradient(to bottom, rgba(255, 197, 61, 0.364) 0%, rgba(255, 197, 61, 0) 25%);
  filter: blur(50px);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

#yellowLightDiag {
  background: #1a1a1a;
}

#bentoItem[data-index="1"]:hover,
#bentoItem[data-index="5"]:hover {
  box-shadow: inset 0 0 10px var(--special);
  transition: 500ms;
}

#littleSun {
  background: #ffc53d;
  box-shadow: 0 0 5rem #ffc53d;
  border-radius: 50%;
  width: 10vw;
  aspect-ratio: 1/1;
}

#littleSun:hover {
  box-shadow: 0 0 8rem #ffc53d;
  transition: 500ms;
}
